<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <nav th:fragment="navbar">
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
    </nav>

    <footer th:fragment="footer">
        &copy; 2011 The Good Thymes Virtual Grocery
        <script>
            "use strict";
            console.log("test");
        </script>
    </footer>

</body>
</html>